body {
    margin: 0;
    /* background-color: #87CEEB; */
    overflow: scroll;
    overscroll-behavior: none;
}

#frame {
    height: 100vh;
    width: 100%;
}

.ui {
    position: absolute;
    top: 0;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    left: 50%;
    margin-top: 70px;
    transform: translateX(-50%);
    font-size: 40px;
    transition: all 1s linear;
}

#apartments {
    top: 50%;
    left: 70px;
    transform: translateY(-50%);
}

#shop {
    top: 30%;
    right: 100px;
}

#hall {
    top: auto;
    left: 80px;
    bottom: 120px;
}

#play {
    top: 100px;
    right: 100px;
}

#updates {
    top: 80px;
    left: 80px;
}

.desc {
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0.8;
    line-height: 22px;
}

#apartment h3 {
    font-size: 35px;
}

#apartment h4 {
    font-size: 20px;
}

#next {
    width: 150px;
    height: 75px;
    background-color: black;
    color: white;
    border-radius: 20px;
    right: 70px;
    top: calc(100% - 110px);
    transform: translateY(-50%);
    cursor: pointer;
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

#next div {
    margin-top: 15px;
}

#minicitybg {
    width: 100vw;
    height: 100vh;
    background-image: url('../images/grad2.jpg');
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    z-index: -9999;
}

canvas:nth-of-type(1){
    position: absolute;
    margin-left: 25px;
    border-radius: 20px;
    margin-top: calc(-100vh + 25px);
    z-index: -1;
}

canvas:nth-of-type(2){
    margin-top: 100vh;
}

#phonebg {
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
    position: absolute;
    top: 100%;
}