:root {
    --nav-primary: #6aeeb5;
    --nav-primary-hover: #29e6a7;
    --nav-primary-dark: #039d69;
    --nav-gray100: #f0f7f8;
    --nav-gray200: #cfd8dc;
    --nav-gray300: #a7b7be;
    --nav-gray400: #6b7e86;
    --nav-gray500: #425a65;
}

body {
    overscroll-behavior: none;
    margin: 0;
    background: var(--nav-gray100);
    font-family: 'Play', sans-serif;
}

#header {
    height: 60px;
    background-color: #20dbc2;
    position: sticky;
    top: 0;
}

.fa-house-chimney:hover {
    color: black;
}

.fa-compass:hover {
    color: #2AAA8A;
}

.fa-address-card:hover {
    color: #0066FF;
}

.fa-user-group:hover {
    color: #E75480;
}

.fa-inbox:hover {
    color: #BB001B;
}

.fa-hammer:hover {
    color: #F7A233;
}

.fa-bolt:hover {
    color: #FDD023;
}

.fa-gear:hover {
    color: var(--nav-gray500);
}

#logo {
    transition: all 200ms ease-in-out;
}

#logoBorder {
    height: 45px;
    width: 170px;
    margin-left: 10px;
    margin-top: 7.5px;
    position: absolute;
    background-color: white;
    border-radius: 30px;
}

#logoImg {
    position: absolute;
    top: 9px;
    left: 13px;
}

#logoName {
    font-family: 'Lato', sans-serif;
    position: absolute;
    left: 60px;
    top: -2px;
    font-size: 20px;
    color: black;
}

.unselectable {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.undraggable {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#login {
    right: 20px;
}

#signup {
    right: 100px;
}

#signup, #login {
    position: absolute;
    margin-top: 18px;
    font-family: 'Play', sans-serif;
    font-size: 18px;
    color: black;
}

/* Navigation Bar */
#navbar {
    position: absolute;
    top: 45px;
}

.nav__list {
    background: white;
    box-shadow: 0px 0px 10px var(--nav-gray200);
    padding: 1rem 0;
    width: 5rem;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    transition: gap 200ms ease-in-out;
}

.nav__settings {
    list-style: none;
    position: relative;
}

.nav__settings i {
    color: var(--nav-gray400);
    transition: all 200ms ease-in;
    font-size: 32px;
}

.nav__settings::before {
    content: attr(data-tooltip);
    position: absolute;
    left: 4rem;
    top: -0.25rem;
    background: var(--nav-gray500);
    color: white;
    padding: 0.8rem;
    border-radius: 0.2rem;
    transition: all 200ms ease-in;
    opacity: 0;
    pointer-events: none;
}

.nav__settings:hover::before {
    opacity: 1;
    left: 4.5rem;
}

.nav__list .nav__item {
    list-style: none;
    position: relative;
}

.nav__list i {
    color: var(--nav-gray400);
    transition: all 200ms ease-in;
    font-size: 32px;
}

.fa-gear {
    margin-top: -20px;
    position: fixed;
}

.nav__item::before {
    content: attr(data-tooltip);
    position: absolute;
    left: 4rem;
    top: -0.25rem;
    background: var(--nav-gray500);
    color: white;
    padding: 0.8rem;
    border-radius: 0.2rem;
    transition: all 200ms ease-in;
    opacity: 0;
    pointer-events: none;
}

.nav__item:hover::before {
    opacity: 1;
    left: 4.5rem;
}

@media all and (max-height: 580px){
    .nav__list {
        gap: 1.5rem;
    }
}

@media all and (max-height: 530px){
    .nav__list {
        gap: 1rem;
    }
}

@media all and (max-height: 480px){
    .nav__list i {
        font-size: 25px;
    }

    .nav__settings i {
        font-size: 25px;
        margin-left: 6px;
    }
}

@media all and (max-height: 430px){
    .nav__list i {
        font-size: 20px;
    }

    .nav__settings i {
        font-size: 20px;
        margin-left: 8px;
    }
}

@media all and (max-height: 400px){
    .nav__list {
        gap: 0.5rem;
    }

    .nav__settings {
        position: absolute;
    }
}

@media all and (max-width: 350px){
    #logoName {
        transition: all 200ms ease-in;
        opacity: 0;
    }

    #logoBorder {
        transition: all 200ms ease-in;
        width: 45px;
    }

    #logoImg {
        transition: all 200ms ease-in;
        left: 10px;
    }
}